.Data{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.Herfst{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.Kerst{
    display: flex;
    flex-direction: row;
}

.Voorjaar{
    display: flex;
    flex-direction: row;
}

.Mei{
    display: flex;
    flex-direction: row;
}

.Zomer{
    display: flex;
    flex-direction: row;
}

#Herfst{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;

}

#Kerst{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;

}

#Voorjaar{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;

}

#Mei{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;

}

#Zomer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;

}